.time_countdown {
  position: fixed;
  top: 0;
  width: 100%;
}
.submit_quiz {
  padding: 20px;
}
.login_form {
  padding-top: 30%;
}
.result {
  padding-top: 50px;
}
.not-found {
  padding-top: 50px;
}
.success-icon {
  width: 100px;
}